In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.cross_validation import KFold   #For K-fold cross validation
from sklearn.utils import shuffle

In [12]:
auc2013 = pd.read_csv('2013_auctions.csv') 
role = pd.read_csv('player_role2013.csv')

In [13]:
balls = []
runs = []
avg = []
srate = []
batsman = []
base_price  = []
buy_price  = []
for index, row in auc2013.iterrows():
    
    
    
    
    
    pname = str(row['player_name'].replace(' ','+'))
    #print pname
    prole = role[role['pname'].str.find(pname) != -1] 
    if(len(prole) == 0):
        continue
    prole = prole.iloc[0]['role']
 
    fname = 'score_files/2013_t20_' + pname + '.csv'
    #print fname
    if(prole == 0):
        continue
        
    if (os.path.isfile(fname)):
        data = pd.read_csv(fname)
        
        data['balls']  =  data['balls'].astype('str') 
        data = data[data['balls'] != '\xc2\xa0']
        
        data['balls']  =  data['balls'].astype('float') 
        data['runs']  =  data['runs'].astype('float') 
        
        #data = data[data['runs'] != '\xc2\xa0']
        if(len(data) < 2):
            continue
            
        bprice  = str(row['base_price'].replace(',',''))
        bprice  = bprice.replace('$','')
        bprice = float(bprice)
        
        b2price  = str(row['buy_price'].replace(',',''))
        b2price  = b2price.replace('$','')
        b2price = float(b2price)
    
        batsman.append(pname)
        base_price.append(bprice) 
        buy_price.append(b2price)

        balls.append(np.sum(data['balls']))
        runs.append(np.sum(data['runs']))
        avg.append(np.sum(data['runs'])/(len(data)))
        srate.append(np.mean([(r/b)*100 for r,b in zip(data['runs'], data['balls'])]))
        
        
        
    else:
        print 'file no exists'
        print fname
        #continue

In [14]:
import math
s2013 = pd.DataFrame()
s2013['batsman'] = batsman
s2013['base_price'] = base_price
s2013['buy_price'] = buy_price
s2013['runs'] = runs
s2013['balls'] = balls
s2013['avg'] = avg
s2013['srate'] = srate
pruns  = np.array(s2013['runs'])
pavg  = np.array(s2013['avg'])
psrate  = np.array(s2013['srate'])
pbase_price  = np.array(s2013['base_price'])
 

s2013['runs2'] = np.array([i*i for i in pruns])
s2013['avg2'] = np.array([i*i for i in pavg])
s2013['srate2'] = np.array([i*i for i in psrate])
s2013['base_price2'] = np.array([i*i for i in pbase_price])
s2013['runs3'] = np.array([math.sqrt(i) for i in pruns])
s2013['runs4'] = np.array([i*i*i for i in pruns])

In [15]:
s2013

,batsman,base_price,buy_price,runs,balls,avg,srate,runs2,avg2,srate2,base_price2,runs3,runs4
0,Christopher+Barnwell,50000,50000,246,190,24.600000,94.384947,60516,605.160000,8908.518182,2.500000e+09,15.684387,14886936
1,Johan+Botha,300000,450000,281,255,12.772727,131.351280,78961,163.142562,17253.158748,9.000000e+10,16.763055,22188041
2,Daniel+Christian,100000,100000,347,279,17.350000,114.430721,120409,301.022500,13094.389871,1.000000e+10,18.627936,41781923
3,Michael+Clarke,400000,400000,98,94,16.333333,94.450418,9604,266.777778,8920.881491,1.600000e+11,9.899495,941192
4,Akila+Dananjaya,20000,20000,64,41,6.400000,113.641026,4096,40.960000,12914.282709,4.000000e+08,8.000000,262144
5,Quinton+de+Kock,20000,20000,458,339,24.105263,NaN,209764,581.063712,NaN,4.000000e+08,21.400935,96071912
6,James+Faulkner,100000,400000,85,72,9.444444,103.282828,7225,89.197531,10667.342618,1.000000e+10,9.219544,614125
7,Moisés+Henriques,100000,300000,164,126,13.666667,127.973498,26896,186.777778,16377.216235,1.000000e+10,12.806248,4410944
8,Jason+Holder,20000,20000,50,61,7.142857,91.623377,2500,51.020408,8394.843144,4.000000e+08,7.071068,125000
9,Phillip+Hughes,100000,100000,476,365,52.888889,120.654323,226576,2797.234568,14557.465713,1.000000e+10,21.817424,107850176
10,Glenn+Maxwell,200000,1000000,430,285,19.545455,128.858636,184900,382.024793,16604.548119,4.000000e+10,20.736441,79507000
11,Ryan+McLaren,50000,50000,117,105,13.000000,116.090558,13689,169.000000,13477.017562,2.500000e+09,10.816654,1601613
12,Jeevan+Mendis,50000,50000,689,600,27.560000,100.638105,474721,759.553600,10128.028192,2.500000e+09,26.248809,327082769
13,Chris+Morris,20000,625000,146,82,12.166667,138.648250,21316,148.027778,19223.337200,4.000000e+08,12.083046,3112136
14,Jacob+Oram,50000,50000,217,158,12.764706,121.906896,47089,162.937716,14861.291303,2.500000e+09,14.730920,10218313
15,Thisara+Perera,50000,675000,581,539,21.518519,87.233932,337561,463.046639,7609.758874,2.500000e+09,24.103942,196122941
16,Ricky+Ponting,400000,400000,236,195,33.714286,119.358059,55696,1136.653061,14246.346155,1.600000e+11,15.362291,13144256
17,Jesse+Ryder,100000,260000,892,589,37.166667,143.357409,795664,1381.361111,20551.346620,1.000000e+10,29.866369,709732288
18,Darren+Sammy,100000,425000,201,176,14.357143,104.864461,40401,206.127551,10996.555167,1.000000e+10,14.177447,8120601